@import 'bootstrap';

body {
  font: sans-serif;
}

h1, h2, h3 {
  font-family: Cuprum, sans-serif;
}

h1 {
  margin-top: 35px;
  border-bottom: 1px solid #ddd;
}

.navigation {
  padding-top: 20px;
}

.main {
  padding-bottom: 50px;
}